.taskInfo {
    box-sizing: border-box;
    overflow: hidden;
    padding: 30px;
    margin-top: 30px;
    top: 94px;
    z-index: 0;
    width: 1110px;
    height: auto;
    box-shadow: 2px 2px 8px;
    background-color: #fff;
}